body {
    font-family: Arial, sans-serif;
    background: #ffffff;
    color: #000000;
    padding: 20px;
    transition: 0.3s;
}

.dark {
    background: #1b1b1b;
    color: #f2f2f2;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.question {
    background: rgba(0,0,0,0.05);
    padding: 15px;
    margin: 15px 0;
    border-radius: 8px;
}

.dark .question {
    background: rgba(255,255,255,0.1);
}


button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.result-box {
    margin: 25px auto;
    padding: 20px;
    border: 2px solid #888;
    border-radius: 10px;
    width: 60%;
    text-align: center;
}

.dark .result-box {
    background: rgba(255,255,255,0.1);
    border-color: #ccc;
}

